<script setup>
import {ref , onMounted , computed , watch} from "vue";

const todos = ref([])
const name = ref("")
const input_content = ref("")
const input_category = ref("business")

const todos_asc = computed(() => todos.value.slice().sort((a, b) => {
  return new Date(b.createdAt) - new Date(a.createdAt);
}));

watch(name , (newValue , oldValue)=>{
  localStorage.setItem("name" , newValue)
})

onMounted(()=>{
  name.value = localStorage.getItem("name") || ""
  todos.value = JSON.parse(localStorage.getItem("todos"))
})

//
const addTodo = () =>{
  if(input_content.value.trim().length === 0){
    return alert("please enter your todo name")
  }
  todos.value.push({
    name : input_content.value ,
    category : input_category.value ,
    completed :false , 
    createAt : new Date()
  })

  input_category.value = "business"
  input_content.value = ""
}
watch(todos , (newValue , oldValue)=>{
  localStorage.setItem("todos" , JSON.stringify(newValue))
} , {deep : true})
// 
const removeTodo = (index) =>{
  todos.value  = todos.value.filter((todo , todo_index) => index !== todo_index );
}
</script>

<template>
  <main class="app">
    <h1 class="text-3xl font-bold underline text-red-500">
      Hello world!
    </h1>
    <section class="greeting">
      <h2 class="title">
        Whats up , <input type="text" placeholder="Name here" v-model="name"/>
      </h2>
      <section class="create-todo">
        <h2>CREATE A TODO</h2>
        <form @submit.prevent="addTodo">
          <h4>whats on your todo list ?</h4>
          <input type="text" placeholder="e.g make a video" v-model="input_content"/>
          <h4>Pick a category</h4>
          <div class="options">
            <label>
              <input type="radio" name="category" id="category" value="business" v-model="input_category" />
              <span class="bubble business"></span>
              <div>Business</div>
            </label>
            <label>
              <input type="radio" name="category" id="category" value="personal" v-model="input_category" />
              <span class="bubble personal"></span>
              <div>Personal</div>
            </label>
          </div>
          <input type="submit" value="Add todo"/>
        </form>
      </section>
      <section class="todo-list">
        <h3>TODO LIST</h3>
        <div class="list">
          <div v-for="(todo , index) in todos_asc" :key="index" :class="`todo-item ${todo.done && 'done'}`">
            
            <label>
              <input type="checkbox" v-model="todo.done"/>
              <span :class="`bubble ${todo.category}`"></span>
            </label>
            <div class="todo-content">
              <input type="text" v-model="todo.name"/>
            </div>
            <div class="actions">
              <button class="delete" @click.prevent="removeTodo(index)">Delete</button>
            </div>
          </div>
        </div>
      </section>
    </section>
  </main>
</template>

